

#header-nav {
    border-radius: 0;
    border: 1px solid black;
    background-color: #DCD3D3;
}

.navbar-header button.navbar-toggle {
    margin-top: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

#nav-list {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: #E2C5C5;
}

#nav-list li {
    border: 1px solid black;
}

.menu {
	background-color: #DCD3D3;
	margin-top: 15px;
}

.menu h2 {
	text-align: center;
	padding-top: 15px;
}

